---
layout: base.njk
---
<div class="contenedor contenedor--lectura">
  <div class="titular">
    {% if categoria %}<p class="titular__categoria">{{ categoria }}</p>{% endif %}
    <h1>{{ titulo }}</h1>
    {% if entrada %}<p class="titular__entrada">{{ entrada }}</p>{% endif %}
  </div>
</div>

<div class="contenedor contenedor--lectura">
  <div class="texto">
    {{ content | safe }}
  </div>
</div>
