---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: null
---
# Web del Seminario Permanente «Seguridad Nacional, Sociedad Digital y Ciberdelito»
# Sitio informativo. Todo su contenido es público y puede indexarse.

User-agent: *
Allow: /

Sitemap: {{ sitio.url }}/sitemap.xml
